{
  "version": 9,
  "configurePresets": [
    {
      "name": "default",
      "inherits": [ "vcpkg-debug" ],
      "hidden": true,
      "environment": {
        "VCPKG_ROOT": "<vcpkg root goes here>"
      }
    }
  ]
}